@use 'navbar';
@use 'header';
@use 'aboutme';
@use 'technologies';
@use 'graph';
@use 'projects';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;

    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}